apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    app: strimzi
    role: alert-rules
  name: kafka-rules
spec:
  groups:
    - name: kafka
      rules:
        - alert: KafkaRunningOutOfSpace
          annotations:
            description: There are only {{ $value }} percent available at {{ $labels.persistentvolumeclaim }} PVC
            summary: Kafka is running out of free disk space
          expr: kubelet_volume_stats_available_bytes{persistentvolumeclaim=~"data(-[0-9]+)?-(.+)-kafka-[0-9]+"} * 100 / kubelet_volume_stats_capacity_bytes{persistentvolumeclaim=~"data(-[0-9]+)?-(.+)-kafka-[0-9]+"} < 15
          for: 10s
          labels:
            severity: warning
        - alert: UnderReplicatedPartitions
          annotations:
            description: There are {{ $value }} under replicated partitions on {{ $labels.kubernetes_pod_name }}
            summary: Kafka under replicated partitions
          expr: kafka_server_replicamanager_underreplicatedpartitions > 0
          for: 10s
          labels:
            severity: warning
        - alert: AbnormalControllerState
          annotations:
            description: Kafka instance {{ $labels.strimzi_io_name }} on namespace {{ $labels.namespace }} has {{ $value }} active controllers
            summary: Kafka abnormal controller state
          expr: sum(kafka_controller_kafkacontroller_activecontrollercount) by (strimzi_io_name, namespace) != 1
          for: 10s
          labels:
            severity: warning
        - alert: OfflinePartitions
          annotations:
            description: Kafka instance on pod {{ $labels.namespace }}/{{ $labels.pod }} has {{ $value }} partition(s) with no leader
            summary: Kafka offline partitions
          expr: sum(kafka_controller_kafkacontroller_offlinepartitionscount) by (namespace, pod) > 0
          for: 10s
          labels:
            severity: warning
        - alert: UnderMinIsrPartitionCount
          annotations:
            description: There are {{ $value }} partitions under the min ISR on {{ $labels.kubernetes_pod_name }}
            summary: Kafka under min ISR partitions
          expr: kafka_server_replicamanager_underminisrpartitioncount > 0
          for: 10s
          labels:
            severity: warning
        - alert: OfflineLogDirectoryCount
          annotations:
            description: There are {{ $value }} offline log directories on {{ $labels.kubernetes_pod_name }}
            summary: Kafka offline log directories
          expr: kafka_log_logmanager_offlinelogdirectorycount > 0
          for: 10s
          labels:
            severity: warning
        - alert: ScrapeProblem
          annotations:
            description: Prometheus was unable to scrape metrics from {{ $labels.kubernetes_pod_name }}/{{ $labels.instance }} for more than 3 minutes
            summary: Prometheus unable to scrape metrics from {{ $labels.kubernetes_pod_name }}/{{ $labels.instance }}
          expr: up{kubernetes_namespace!~"openshift-.+",kubernetes_pod_name=~".+-kafka-[0-9]+"} == 0
          for: 3m
          labels:
            severity: major
        - alert: KafkaBrokerContainersDown
          annotations:
            description: All Kafka broker containers have been down or in CrashLookBackOff status for 3 minutes
            summary: All Kafka broker containers down or in CrashLookBackOff status
          expr: absent(container_last_seen{container="kafka",pod=~"kafka-cluster-kafka-broker-nodepool-[0-9]+"})
          for: 3m
          labels:
            severity: major
        - alert: KafkaControllerContainersDown
          annotations:
            description: All Kafka controller containers have been down or in CrashLookBackOff status for 3 minutes
            summary: All Kafka controller containers down or in CrashLookBackOff status
          expr: absent(container_last_seen{container="kafka",pod=~"kafka-cluster-kafka-controller-nodepool-[0-9]+"})
          for: 3m
          labels:
            severity: major
        - alert: KafkaContainerRestartedInTheLast5Minutes
          annotations:
            description: One or more Kafka containers were restarted too often within the last 5 minutes
            summary: One or more Kafka containers restarted too often
          expr: count(count_over_time(container_last_seen{container="kafka"}[5m])) > 2 * count(container_last_seen{container="kafka",pod=~".+-kafka-[0-9]+"})
          for: 5m
          labels:
            severity: warning
