apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    app: strimzi
    role: alert-rules
  name: strimzi-cluster-operator-rules
spec:
  groups:
    - name: cluster-operator
      rules:
        - alert: ClusterOperatorContainerDown
          annotations:
            description: The Cluster Operator has been down for longer than 90 seconds
            summary: Cluster Operator down
          expr: count((container_last_seen{container="strimzi-cluster-operator"} > (time() - 90))) < 1 or absent(container_last_seen{container="strimzi-cluster-operator"})
          for: 1m
          labels:
            severity: major
