apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: rook-ceph-operator
  namespace: argocd
spec:
  project: default
  sources:
    - repoURL: https://charts.rook.io/release
      chart: rook-ceph
      targetRevision: 1.18.8
      helm:
        valuesObject:
          csi:
            enableCephfsDriver: false
            serviceMonitor:
              enabled: true
            enableGrpcMetrics: true
            enableLiveness: true
            csiRBDPluginResource: |
              - name: csi-rbdplugin
                resource:
                  requests:
                    cpu: 250m
                    memory: 160Mi
                  limits:
                    memory: 1Gi
              - name: driver-registrar
                resource:
                  requests:
                    cpu: 50m
                    memory: 32Mi
                  limits:
                    memory: 256Mi
            csiRBDProvisionerResource: |
              - name: csi-rbdplugin
                resource:
                  requests:
                    memory: 160Mi
                  limits:
                    memory: 1Gi
              - name: csi-provisioner
                resource:
                  requests:
                    cpu: 100m
                    memory: 40Mi
                  limits:
                    memory: 256Mi
              - name: csi-resizer
                resource:
                  requests:
                    cpu: 100m
                    memory: 40Mi
                  limits:
                    memory: 256Mi
              - name: csi-attacher
                resource:
                  requests:
                    cpu: 100m
                    memory: 40Mi
                  limits:
                    memory: 256Mi
              - name: csi-snapshotter
                resource:
                  requests:
                    cpu: 100m
                    memory: 40Mi
                  limits:
                    memory: 256Mi
          monitoring:
            enabled: true
            createPrometheusRules: true
          obcAllowAdditionalConfigFields: "maxObjects,maxSize,bucketOwner"
  destination:
    namespace: rook-ceph-operator
    server: {{ .Values.spec.destination.server }}
  syncPolicy:
    automated:
      prune: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/enforce: "privileged"
        pod-security.kubernetes.io/warn: "privileged"
        pod-security.kubernetes.io/audit: "privileged"
        pod-security.kubernetes.io/enforce-version: "latest"
        pod-security.kubernetes.io/warn-version: "latest"
        pod-security.kubernetes.io/audit-version: "latest"
