apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: llama-cache
  namespace: tradukisto
  labels:
    app.kubernetes.io/name: llama
    app.kubernetes.io/part-of: tradukisto
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: ceph-rbd
  resources:
    requests:
      storage: 20Gi
