apiVersion: v1
kind: Service
metadata:
  name: llama
  namespace: tradukisto
  labels:
    app.kubernetes.io/name: llama
    app.kubernetes.io/part-of: tradukisto
spec:
  selector:
    app.kubernetes.io/name: llama
  ports:
    - port: 8080
      targetPort: 8080
