apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: envoy-gateway
  namespace: argocd
spec:
  project: default
  sources:
    - repoURL: docker.io/envoyproxy
      chart: gateway-helm
      targetRevision: 1.6.2
      helm:
        skipCrds: true
        releaseName: eg
        valuesObject:
          deployment:
            envoyGateway:
              resources:
                requests:
                  cpu: 100m
                  memory: 256Mi
                limits:
                  cpu: 500m
                  memory: 512Mi
          config:
            envoyGateway:
              extensionApis:
                enableBackend: true
    - repoURL: https://github.com/chik4ge-homelab/homelab-applications
      targetRevision: main
      path: manifests/platform/base/networking/envoy-gateway
  destination:
    server: {{ .Values.spec.destination.server }}
    namespace: envoy-gateway
  syncPolicy:
    automated:
      prune: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
