apiVersion: dragonflydb.io/v1alpha1
kind: Dragonfly
metadata:
  name: dragonfly
spec:
  replicas: 3
  args:
    - "--dbfilename=dragonfly-snapshot"
    - "--maxmemory=1Gi"
  authentication:
    passwordFromSecret:
      name: dragonfly-auth
      key: password
  snapshot:
    cron: "*/5 * * * *"
    persistentVolumeClaimSpec:
      accessModes:
        - ReadWriteOnce
      storageClassName: ceph-rbd
      resources:
        requests:
          storage: 10Gi
