apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: immich-db-credentials
  namespace: immich
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: 1password-connect
    kind: ClusterSecretStore
  target:
    template:
      type: kubernetes.io/basic-auth
  data:
    - secretKey: username
      remoteRef:
        key: "CloudNativePG Immich App Database Credentials"
        property: username
    - secretKey: password
      remoteRef:
        key: "CloudNativePG Immich App Database Credentials"
        property: password
