apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: immich-redis-credentials
  namespace: immich
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: 1password-connect
    kind: ClusterSecretStore
  data:
    - secretKey: password
      remoteRef:
        key: "Dragonfly Cluster Password"
        property: password
