apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: grafana
  namespace: argocd
spec:
  project: default
  sources:
    - chart: grafana
      repoURL: https://grafana-community.github.io/helm-charts
      targetRevision: 10.7.0
      helm:
        valuesObject:
          replicas: 2
          resources:
            requests:
              cpu: 10m
              memory: 128Mi
            limits:
              memory: 256Mi
          grafana.ini:
            server:
              root_url: https://grafana.chik4ge.me
              enable_gzip: true
            auth:
              disable_login_form: true
            auth.github:
              enabled: true
              allow_sign_up: true
              client_id: Ov23liEAZPnCVaDnDWdl
              client_secret: $__env{GF_GITHUB_CLIENT_SECRET}
              scopes: user:email,read:org
              auth_url: https://github.com/login/oauth/authorize
              token_url: https://github.com/login/oauth/access_token
              api_url: https://api.github.com/user
              allow_assign_grafana_admin: true
              role_attribute_path: "contains(groups[*], '@chik4ge-homelab/admin') && 'GrafanaAdmin' || 'Viewer'"
            database:
              type: mysql
              host: grafana-pxc-db-haproxy.grafana.svc.cluster.local
              user: grafana
              password: $__env{MYSQL_PASSWORD}
              migration_locking: false
            alerting:
              enabled: false
            unified_alerting:
              enabled: true
              ha_listen_address: "${POD_IP}:9094"
              ha_advertise_address: "${POD_IP}:9094"
              ha_peers: "grafana-headless.grafana.svc.cluster.local:9094"
          envValueFrom:
            GF_GITHUB_CLIENT_SECRET:
              secretKeyRef:
                name: grafana-secret
                key: github-sso-client-secret
            MYSQL_PASSWORD:
              secretKeyRef:
                name: mysql-secret
                key: password
          datasources:
            datasources.yaml:
              apiVersion: 1
              datasources:
                - name: Mimir
                  uid: PAE45454D0EDB9216
                  type: prometheus
                  access: proxy
                  url: http://mimir-gateway.mimir.svc.cluster.local/prometheus
                  isDefault: true
                  jsonData:
                    timeout: 1800
                    timeInterval: 60s
                - name: Loki
                  type: loki
                  access: proxy
                  url: http://loki.loki.svc.cluster.local:3100
                  isDefault: false
                  jsonData:
                    maxLines: 1000
                - name: Mimir Alertmanager
                  type: alertmanager
                  access: proxy
                  url: http://mimir-gateway.mimir.svc.cluster.local/alertmanager
                  jsonData:
                    implementation: prometheus
                    handleGrafanaManagedAlerts: true

          headlessService: true

          route:
            main:
              enabled: true
              hostnames:
                - grafana.chik4ge.me
              parentRefs:
                - name: envoy-gateway-internal
                  namespace: envoy-gateway
                  sectionName: https

          extraObjects:
            - apiVersion: external-secrets.io/v1
              kind: ExternalSecret
              metadata:
                name: grafana-secret
                labels:
                  app.kubernetes.io/part-of: argocd
              spec:
                refreshInterval: 1h
                secretStoreRef:
                  name: 1password-connect
                  kind: ClusterSecretStore
                data:
                  - secretKey: github-sso-client-secret
                    remoteRef:
                      key: "Grafana GitHub Client Secret"
                      property: secret

            - apiVersion: external-secrets.io/v1
              kind: ExternalSecret
              metadata:
                name: mysql-secret
                labels:
                  app.kubernetes.io/part-of: argocd
              spec:
                refreshInterval: 1h
                secretStoreRef:
                  name: 1password-connect
                  kind: ClusterSecretStore
                data:
                  - secretKey: password
                    remoteRef:
                      key: "Grafana MySQL"
                      property: password

    - chart: pxc-db
      repoURL: https://percona.github.io/percona-helm-charts/
      targetRevision: 1.19.0
      helm:
        parameters:
          - name: pxc.certManager
            value: "true"
        valuesObject:
          users:
            - name: grafana
              dbs:
                - grafana
              passwordSecretRef:
                name: mysql-secret
                key: password
              grants:
                - ALL
                - PRIVILEGES
          haproxy:
            resources:
              requests:
                memory: 128Mi
                cpu: 100m
          pxc:
            resources:
              requests:
                cpu: 100m
            persistence:
              storageClass: ceph-rbd
          logcollector:
            resources:
              requests:
                cpu: 0
                memory: 0

  destination:
    namespace: grafana
    server: {{ .Values.spec.destination.server }}
  syncPolicy:
    automated:
      prune: true
    syncOptions:
      - CreateNamespace=true
