apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: rook-ceph
  namespace: argocd
spec:
  project: default
  sources:
    - repoURL: https://github.com/chik4ge-homelab/homelab-applications
      targetRevision: main
      path: manifests/platform/base/storage/rook-ceph
    - repoURL: https://charts.rook.io/release
      chart: rook-ceph-cluster
      targetRevision: 1.18.8
      helm:
        valuesObject:
          operatorNamespace: rook-ceph-operator
          cephBlockPools: []
          cephFileSystems: []
          cephObjectStores:
            - name: default
              spec:
                gateway:
                  port: 7480
                  externalRgwEndpoints:
                    - hostname: external-rgw-backend.rook-ceph.svc.cluster.local
              storageClass:
                enabled: false
          cephClusterSpec:
            external:
              enable: true
            crashCollector:
              disable: true
            healthCheck:
              daemonHealth:
                mon:
                  disabled: false
                  interval: 45s
  destination:
    namespace: rook-ceph
    server: {{ .Values.spec.destination.server }}
  syncPolicy:
    automated:
      prune: true
    syncOptions:
      - CreateNamespace=true
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/enforce: "privileged"
        pod-security.kubernetes.io/warn: "privileged"
        pod-security.kubernetes.io/audit: "privileged"
        pod-security.kubernetes.io/enforce-version: "latest"
        pod-security.kubernetes.io/warn-version: "latest"
        pod-security.kubernetes.io/audit-version: "latest"
