apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: mimir-alertmanager-discord-webhook
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: 1password-connect
    kind: ClusterSecretStore
  data:
    - secretKey: DISCORD_WEBHOOK_URL
      remoteRef:
        key: "Mimir Alertmanager Discord Webhook"
        property: URL
