apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: arc-controller
  namespace: arc
spec:
  project: default
  source:
    repoURL: oci://ghcr.io/actions/actions-runner-controller-charts/gha-runner-scale-set-controller
    chart: arc
    targetRevision: 0.13.0
    helm:
      valuesObject:
        resources:
          limits:
            memory: 512Mi
          requests:
            cpu: 10m
            memory: 128Mi
  destination:
    server: {{ .Values.spec.destination.server }}
    namespace: arc-systems
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
